<!-- views/Principal.ejs -->
<!doctype html>
<html ng-app="app">
<head>
    <script src="jquery-2.0.3.min.js"></script>
    <script src="angular.js"></script>
    <script src="angular-animate.js"></script>
    <script src="angular-sanitize.js"></script>
    <script src="ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="angular-messages.js"></script>
    <script src="Controlador.js"></script>
    <script src="ControladorCurso.js"></script>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet" />
</head>
<body ng-controller="ModalDemoCtrl as $ctrl"  class="modal-demo">
<%if(user.clasificacion !=0){%>
<div uib-collapse="isCollapse">
<div id = "bloque_blanco_up">
    <h1 id = "titulo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SAE</h1>
    <img src="UTFSM.gif" id = "usm-home" alt="usm-home">
</div>
<br/>
<nav class="navbar navbar-default">
    <div id = "logout">
        <a  href="/Perfil"><span <%if (user.tipo == 0 && user.clasificacion == 1){%> style = "color: red;" <%}%> <%if (user.tipo == 0 && user.clasificacion == 2){%> style = "color: black;" <%}%> <%if (user.tipo == 0 && user.clasificacion == 3){%> style = "color: green;"  <%}%> <%if (user.tipo == 0 && user.clasificacion == 4){%> style = "color: brown;"<%}%>class="glyphicon glyphicon-user"></span><%=user.nombre%></a>
        <a href="/login"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown" ng-controller="DropdownCtrl" uib-dropdown keyboard-nav>
                <a id = "chao" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle href="#"><span uib-dropdown-toggle class="glyphicon glyphicon-menu-hamburger"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li><a href="/Principal">Inicio</a></li>
                    <li class="divider"></li>
                    <%if(user.tipo!=2){%>
                    <li class="dropdown-header">Mis Cursos</li>
                    <%for (var i=0;i<asignaturas.length;i++) {%>
                    <li><a href="/Curso/<%=asignaturas[i]%>"><%=asignaturas[i]%></a></li>
                    <%}%>
                    <li class="divider"></li>
                    <%}%>
                    <li><a href="/Ramos">Ramos</a></li>
                    <li class="divider"></li>
                    <li><a href="/Perfil">Perfil</a></li>
                </ul>
            </li>
            <li class="active" class="dropdown" ng-controller="DropdownCtrl" uib-dropdown keyboard-nav>
                <a id = "hola" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle href="#"><span uib-dropdown-toggle class="glyphicon glyphicon-triangle-bottom"></span> <%=sigla%></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li><a href="/Desincribir/<%=sigla%>">Dejar de Seguir</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    </div>
<br/>
<%if(user.tipo!=2){%>
<div class="horizontal-collapse" uib-collapse="isCollapse" horizontal>
<div class = "container" id = "c-derecho">
    <br>
    <div class = "container" id = "cursos">
        <a   href="#"><span class="glyphicon glyphicon-menu-right"  style="margin-top: 10px;"></span>Mis cursos</a>
        <br/>
        <div ng-controller="PopoverDemoCtrl">
            <%for (var i=0;i<asignaturas.length;i++) {%>
            <a href="/Curso/<%=asignaturas[i]%>"  uib-popover="  <%=asignaturas[i]%>!" popover-trigger="'mouseenter'">  &nbsp;&nbsp; <span class="glyphicon glyphicon-book"></span> <%=asignaturas[i]%></a>
            <br/>
            <%}%>
        </div>
    </div>
    <%if(user.tipo==0){%>
        <%for (var i=0;i<feedback.length;i++) {%>
                <%if (feedback[i].alumno_id_alumno == user.id && feedback[i].asignatura_id_asignatura == sigla) { break;}%>
                <%if (i == feedback.length -1 ){%>
                    <button  ng-show="!show" style="left:0px;top:240px;position: absolute"type="button" class="btn btn-danger" ng-click="$ctrl.open('valorar.html','md');show = !show">Valora este ramo</button>
                <%}%>
        <%}%>
        <%if (0 == feedback.length){%>
            <button ng-if = "variable" style="left:0px;top:240px;position: absolute"type="button" class="btn btn-danger" ng-click="$ctrl.open('valorar.html','md'); variable_change()">Valora este ramo</button>
        <%}%>
    <%}%>

</div>
</div>
<%}%>
<script type="text/ng-template" id="valorar.html">
    <div class="modal-header">
        <h3  class="modal-title" id="modal-title">Valorar <%=sigla%></h3>
    </div>
    <div ng-controller="ho" class="modal-body" id="modal-body">
        <div class="modal-body" id="modal-body">
            <div style="text-align: center">
            <span ng-click="estrella_uno_f()" style="{{'color:'+ estrella_uno}}" class ="glyphicon glyphicon-star"></span><span ng-click="estrella_dos_f()" style="{{'color:'+ estrella_dos}}" class ="glyphicon glyphicon-star"></span><span ng-click="estrella_tres_f()" style="{{'color:'+ estrella_tres}}" class ="glyphicon glyphicon-star"></span><span ng-click="estrella_cuatro_f()" style="{{'color:'+ estrella_cuatro}}" class ="glyphicon glyphicon-star"></span><span ng-click="estrella_cinco_f()" style="{{'color:'+ estrella_cinco}}" class ="glyphicon glyphicon-star"></span>
                <br><br>
            <textarea  placeholder="Explica tu valoracion" ng-model = "comentario" class="form-control" style="resize: none" rows:30; ></textarea>
                <br>
            <button   class="btn btn-default" ng-click="CrearFeedback(comentario,'<%=user.id%>','<%=user.correo%>','<%=sigla%>');$ctrl.cancel()">Valorar</button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Nueva Unidad</h3>
    </div>
    <form name = "form" method="post" action="/CrearUnidad<%=sigla%>">
    <div class="modal-body" id="modal-body">
                <div  class="form-group">
                    <label >Nombre Unidad:</label>
                    <input  style="margin-left: 33px" name="Unidad[nombre]">
                </div>
                <div  class="form-group">
                    <label >Numero Unidad:</label>
                    <input style="margin-left: 33px"  name="Unidad[numero]">
                </div>
                <div  class="form-group">
                    <label >Descripcion Unidad:&nbsp;</label>
                    <input   name="Unidad[descripcion]">
                </div>
        </div>
    <div class="modal-footer">
        <button id="btn"  ng-if = "form.$valid"  style= "margin-left: 340px"  class="btn btn-default">Crear</button>
        <button  id="btn"  ng-if = "form.$invalid"  style= "margin-left: 340px" type="submit" class="btn btn-default">Crear</button>
        <button id = "btn"  class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
    </div>
    </form>
</script>
<%if(user.tipo!=2){%>
<div class="container" id = "curso_container" style="text-align: center">
    <h2 style = " color: #424242;
        font-family: Adobe Caslon Pro, Hoefler Text, Georgia, Garamond, Times, serif; letter-spacing:0.1em; text-align:center; text-transform: lowercase;line-height: 145%;font-size: 40px;font-variant: small-caps;";><%=nombre%></h2>
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Inicio">
            <br>
            <br>
            <%if(user.tipo == 1){%><button uib-popover="Crear Nueva Unidad" ng-click="$ctrl.open('myModalContent.html','md')" popover-trigger="'mouseenter'" style = " width: 50px;" type="button" class="btn btn-default"><span  class="glyphicon glyphicon-plus"></span></button>
            <%}%>
            <br>
            <br>
            <%for (var i=0;i<unidades.length;i++) {%>
            <button  style = "margin-left: 40px;min-width: 220px;" type="button" class="btn btn-default" ng-click=<%- "isCollapsed"%><%=i%><%- "=!isCollapsed"%><%=i%>>Unidad <%=i+1%>: <%=unidades[i].nombre%></button>&nbsp;&nbsp;
            <div uib-collapse="!isCollapsed<%=i%>">
                <div  ng-controller="hi" style="text-align: left" class="well well-lg">
                    <%for (var j=0;j<subunidades.length;j++) {%>
                    <%if (subunidades[j].unidad_id_unidad == unidades[i].id_unidad) {%>
                    <%if (user.tipo == 1) {%>
                    <div ng-controller="DropdownCtrl" class="btn-group" uib-dropdown is-open="status.isopen" >
                        <a uib-dropdown-toggle ng-disabled="disabled"><span    class="glyphicon glyphicon-menu-right"></span>
                            <%=subunidades[j].nombre%></a>
                        <ul  class="dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="/Sub1/<%=subunidades[j].id_subunidad%>">Convergente</a></li>
                            <li role="menuitem"><a href="/Sub2/<%=subunidades[j].id_subunidad%>">Acomodador</a></li>
                            <li role="menuitem"><a href="/Sub3/<%=subunidades[j].id_subunidad%>">Divergente</a></li>
                            <li role="menuitem"><a href="/Sub4/<%=subunidades[j].id_subunidad%>">Asimilador</a></li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <%}%>
                    <%if (user.tipo == 0) {%>
                    <%if (user.clasificacion == 1) {%>
                        <a href="/Sub1/<%=subunidades[j].id_subunidad%>" ><span  class="glyphicon glyphicon-menu-right"></span><%=subunidades[j].nombre%><br><br></a>
                    <%}%>
                    <%if (user.clasificacion == 2) {%>
                    <a href="/Sub2/<%=subunidades[j].id_subunidad%>" ><span  class="glyphicon glyphicon-menu-right"></span><%=subunidades[j].nombre%><br><br></a>
                    <%}%>
                    <%if (user.clasificacion == 3) {%>
                    <a href="/Sub3/<%=subunidades[j].id_subunidad%>" ><span  class="glyphicon glyphicon-menu-right"></span><%=subunidades[j].nombre%><br><br></a>
                    <%}%>
                    <%if (user.clasificacion == 4) {%>
                    <a href="/Sub4/<%=subunidades[j].id_subunidad%>" ><span  class="glyphicon glyphicon-menu-right"></span><%=subunidades[j].nombre%><br><br></a>
                    <%}%>
                    <%}%>
                    <%}%>
                    <%}%>
                    <%if(user.tipo == 1){%>
                    <script type="text/ng-template" id="myModalContent<%=i%>">
                        <div class="modal-header">
                            <h3  class="modal-title" id="modal-title">Nueva Subunidad en <%=unidades[i].nombre%> </h3>
                        </div>
                        <form name = "form" method="post" action="/CrearSubUnidad<%=unidades[i].id_unidad%>">
                            <div class="modal-body" id="modal-body" ng-controller="GreetController">
                                <div   class="form-group" >
                                    <label >Nombre Subunidad:</label>
                                    <input  style="margin-left: 33px" name="SubUnidad[nombre]">
                                </div>
                                <div class="form-group">
                                    <label >Numero Subunidad:</label>
                                    <input  style="margin-left: 33px"  name="SubUnidad[numero]">
                                </div>
                                <div  class="form-group">
                                    <label >Descripcion Subunidad:&nbsp;</label>
                                    <input   name="SubUnidad[descripcion]">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button  id="btn"  ng-if = "form.$valid"  style= "margin-left: 340px"  class="btn btn-default">Crear</button>
                                <button  id="btn"  ng-if = "form.$invalid"  style= "margin-left: 340px" type="submit" class="btn btn-default">Crear</button>
                                <button id = "btn"  class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
                            </div>
                        </form>
                    </script>
                    <a  ng-click="$ctrl.open('myModalContent<%=i%>','md')"  ><span  class="glyphicon glyphicon-plus"></span> Crear Nueva<br><br></a>
                    <%}%>
                </div>
            </div>
            <br>
            <br>
            <%}%>
        </uib-tab>
        <%if(user.tipo == 1){%>
        <uib-tab index="1" heading="Noticias"><br>
            <script type="text/ng-template" id="myModalNoticia.html">
                <div class="modal-header">
                    <h3  class="modal-title" id="modal-title">Nueva Noticia</h3>
                </div>
                <div ng-controller="ho" class="modal-body" id="modal-body">
                    <div class="modal-body" id="modal-body">
                        <label >Titulo:</label>
                        <input  ng-model = "titulo" class="form-control"  style="margin-left: 0px" >
                        <label >Contenido:&nbsp;</label>
                        <textarea  ng-model = "contenido" class="form-control" style="resize: none" rows:30; ></textarea>
                        <br>
                        <button   class="btn btn-default" ng-click="CrearNoticia(titulo,'<%=sigla%>',contenido,'<%=user.nombre%>'+'<%=user.apellido%>');$ctrl.cancel()">Crear</button>
                    </div>
                </div>
            </script>
            <button uib-popover="Crear Nuevo Anuncio" ng-click="$ctrl.open('myModalNoticia.html','md')" popover-trigger="'mouseenter'" style = " width: 120px;" type="button" class="btn btn-default">Crear Anuncio</button>
            <br>
        </uib-tab>
            <uib-tab index="2" heading="Valoraciones"><br>
                <br>
                <%for (var i=0;i<feedback.length;i++) {%>
                <%if (feedback[i].asignatura_id_asignatura == sigla) {%>
                <%for (var j=0;j<feedback[i].valor;j++) {%>
                <span style="color: gold;" class ="glyphicon glyphicon-star"></span>
                <%}%>
                <br>
                <h4><i><%=feedback[i].comentario%></i></h4>
                <br>
                <%}%>
                <%}%>
            </uib-tab>
        <%}%>
</div>
<%}else{%>
<div class="container" id = "curso_container" style="text-align: center">
    <br>
    <br>
    <br>
    <h2><%=nombre%></h2>
    <br>
    <p><%=curso.descripcion%></p>
    <br>
    <br>
</div>
<%}%>
<%}%>
</body>
</html>
