<!-- views/Principal.ejs -->
<!doctype html>
<html ng-app="app">
<head>
    <script src="jquery-2.0.3.min.js"></script>
    <script src="angular.js"></script>
    <script src="angular-animate.js"></script>
    <script src="angular-sanitize.js"></script>
    <script src="ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="interact.min.js"></script>
    <script src="angular-messages.js"></script>
    <script src="Controlador.js"></script>
    <script src="ControladorSub3.js"></script>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet" />
</head>
<body ng-controller="ModalDemoCtrl as $ctrl" style="min-height:3000px" >
    <%if(user.clasificacion !=0){%>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Añadir Mapa Conceptual</h3>
        </div>
        <div ng-controller="ho" class="modal-body" id="modal-body">
            <div  class="form-group">
                <br>
                <div class="fileUpload btn btn-default">
                    <span>Subir</span>
                    <input id = "btn" class="upload" my-upload type="file" name="upload">
                </div>
                <button   class="btn btn-default" ng-click="AgregarImagen('<%=subunidad_id%>',image);$ctrl.cancel()">Guardar</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="myModalContent3.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Elementos Guardados</h4>
            <br>
            <button   class="btn btn-default"  ng-click="$ctrl.cancel()">Aceptar</button>

        </div>
    </script>
    <script type="text/ng-template" id="myModalContent2.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Añadir Video Ejercicio</h3>
        </div>
        <div ng-controller="ho" class="modal-body" id="modal-body">
            <div  class="form-group">
                <div class="form-group">
                    <label for="usr">Link:</label>
                    <input  placeholder="ejemplo : https://youtu.be/u3U5R8KtwIc" ng-model = "input" type="text" class="form-control">
                </div>
                <button   class="btn btn-default" ng-click="AgregarVideo('<%=subunidad_id%>',input);$ctrl.cancel()">Guardar</button>
            </div>
        </div>
    </script>
    <div  id = "bloque_blanco_up">
        <h1 id = "titulo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SAE</h1>
        <img src="UTFSM.gif" id = "usm-home" alt="usm-home">
    </div>
    <br/>
    <nav class="navbar navbar-default">
        <div id = "logout">
            <a  href="/Perfil"><span <%if (user.tipo == 0 && user.clasificacion == 1){%> style = "color: red;" <%}%> <%if (user.tipo == 0 && user.clasificacion == 2){%> style = "color: black;" <%}%> <%if (user.tipo == 0 && user.clasificacion == 3){%> style = "color: green;"  <%}%> <%if (user.tipo == 0 && user.clasificacion == 4){%> style = "color: brown;"<%}%>class="glyphicon glyphicon-user"></span><%=user.nombre%></a>
            <a href="/login"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-controller="DropdownCtrl" uib-dropdown keyboard-nav>
                    <a class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle href="#"><span uib-dropdown-toggle class="glyphicon glyphicon-menu-hamburger"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a href="/Principal">Inicio</a></li>
                        <li class="divider"></li>
                        <%if(user.tipo!=2){%>
                        <li class="dropdown-header">Mis Cursos</li>
                        <%for (var i=0;i<asignaturas.length;i++) {%>
                        <li><a href="/Curso/<%=asignaturas[i]%>"><%=asignaturas[i]%></a></li>
                        <%}%>
                        <%}%>
                        <%if(user.tipo==2){%>
                        <li class="dropdown-header">Registros</li>
                        <li><a href="/RegistrarProfesor">Profesor</a></li>
                        <li><a href="/RegistrarAlumno">Alumno</a></li>
                        <%}%>
                        <li class="divider"></li>
                        <li><a href="/Ramos">Ramos</a></li>
                        <%if(user.tipo==2){%>
                        <li><a href="/CrearCurso">Nuevo Ramo</a></li>
                        <%}%>
                    </ul>
                </li>
                <%if(user.tipo==1){%>
                <li class="dropdown active" ng-controller="DropdownCtrl" uib-dropdown keyboard-nav>
                    <a class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle href="#"><span class="glyphicon glyphicon-triangle-bottom"> </span><%=subunidad[0].nombre%></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a href="/Sub1">Convergente</a></li>
                        <li><a href="/Sub2">Acomodador</a></li>
                        <li><a href="/Sub3">Divergente</a></li>
                        <li><a href="/Sub4">Asimilador</a></li>
                    </ul>
                </li>
                <%}%>
                <%if(user.tipo==0){%>
                <li class="active"><a href="#"><%=subunidad[0].nombre%></a></li>
                <%}%>
            </ul>
        </div>
    </nav><br/>
    <script>
        interact('.draggable-content')
                .draggable({
                    // enable inertial throwing
                    // keep the element within the area of it's parent
                    restrict: {
                        restriction: {
                                left: 40,
                                right: 950,
                                top: 200,
                                bottom: 100000
                            },
                        endOnly: true,
                        elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
                    },
                    // enable autoScroll
                    autoScroll: true,

                    // call this function on every dragmove event
                    onmove: dragMoveListener,
                    // call this function on every dragend event
                    onend: function (event) {
                        var textEl = event.target.querySelector('p');

                        textEl && (textEl.textContent =
                                'moved a distance of '
                                + (Math.sqrt(
                                        event.dy * event.dy)|0) + 'px');
                    }
                });
        interact('.draggable-content2')
                .draggable({
                    // enable inertial throwing
                    // keep the element within the area of it's parent
                    restrict: {
                        restriction: {
                            left: 40,
                            right: 950,
                            top: 200,
                            bottom: 100000
                        },
                        endOnly: true,
                        elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
                    },
                    autoScroll: true,
                    onmove: dragMoveListener,
                    onend: function (event) {
                        var textEl = event.target.querySelector('p');

                        textEl && (textEl.textContent =
                                'moved a distance of '
                                + (Math.sqrt(
                                        event.dy * event.dy)|0) + 'px');
                    }
                });

        function dragMoveListener (event) {
            var target = event.target,
                    x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
                    y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

            target.style.webkitTransform =
                    target.style.transform =
                            'translate(' + 0 + 'px, ' + y + 'px)';
            target.setAttribute('data-y', y);
        }
        window.dragMoveListener = dragMoveListener;
    </script>
    <div  ng-controller="ho" id = "outer">
        <%if(user.tipo==1){%>
        <div  ng-repeat="img in imagenes" class="draggable-content"  id = "{{'imagen'+img.id_imagen}}"  style="left: 100px;position:absolute;top: {{img.pos_top+'px'}}" >
            <img  style="width: 500px;height: 300px"  src="{{img.link}}" >
        </div>
        <button  type = "button"  ng-click="guardar();$ctrl.open('myModalContent3.html','sm')"  style="top: 155px; left: 140px;position: absolute;" class="btn btn-default">Guardar</button>
        <div ng-controller="DropdownCtrl" class="btn-group" uib-dropdown is-open="status.isopen" >
            <button    type="button" style="top: 32px; left: 40px;position: absolute;" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                Agregar <span class="caret"></span>
            </button>
            <ul  style="top: 60px; left: 40px;position: absolute" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="AgregarTitulo('<%=subunidad_id%>')">Titulo</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a  ng-click="$ctrl.open('myModalContent.html','sm')">Mapa Conceptual</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a ng-click="$ctrl.open('myModalContent2.html','md')" href="#">Video de Ejercicio</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a ng-click="AgregarInformacion('<%=subunidad_id%>')">Texto Complementario</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a ng-click="AgregarEjercicio('<%=subunidad_id%>')">Ejercicio</a></li>
            </ul>
        </div>
        <div>
            <form  name = "form" method="post" >
                <div ng-repeat="titulo in titulos"   style= "margin-left: 72vw;"    >
                    <div   class="form-group">
                        <input  placeholder="Titulo"  class="draggable-content form-control"  id = "{{'titulo'+titulo.id_titulo}}"   style="top:{{titulo.pos_top + 'px'}};width: 23vw;position:absolute;" value="{{titulo.texto}}" name="Curso[nombre]">
                    </div>
                </div>
                <br>
            <div   ng-repeat="informacion in informaciones"   style= "margin-left: 72vw;">
                    <div   class="form-group">
                        <textarea  placeholder="Contenido Complementario"  class="draggable-content form-control" id = "{{'informacion'+informacion.id_info}}"  style="top:{{informacion.pos_top + 'px'}};position:absolute;width: 23vw;"  rows="15">{{informacion.texto}}</textarea>
                    </div>
            </div>
                <div   ng-repeat="ejercicio in ejercicios"   style= "margin-left: 40px;">
                    <div   ng-controller="CollapseDemoCtrl" class="draggable-content2 form-group" style="position: absolute;top:{{ejercicio.pos_top + 'px'}}" id = "{{'ejercicio'+ejercicio.id_ejercicio}}">
                            <textarea placeholder="Enunciado Ejercicio" class="form-control"  id = "{{'ejercicio_enunciado'+ejercicio.id_ejercicio}}"  style="position:absolute;width:65vw;"  rows="5">{{ejercicio.enunciado}}</textarea>
                            <span  ng-click="isCollapsed=!isCollapsed"   class = "glyphicon glyphicon-menu-down" style="position:absolute;left: 32.5vw;margin-top: 90px" ></span>
                            <textarea placeholder="Respuesta Ejercicio" uib-collapse="isCollapsed" class="form-control" id = "{{'ejercicio_respuesta'+ejercicio.id_ejercicio}}"  style="margin-top:130px;width:65vw;"  rows="15">{{ejercicio.respuesta}}</textarea>
                    </div>
                </div>
            </form>
            <div  ng-repeat="video in videos" style= "margin-left: 40px;";>
                <iframe  height="400" ng-src="{{video.link}}" id = "{{'video'+video.id_video}}" class="draggable-content"  style= "width:65vw;border-width:10px;position:absolute;top: {{video.pos_top +'px'}};"   frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <%}%>
        <%if(user.tipo==0){%>
        <div  ng-repeat="video in videos" style= "margin-left: 40px;";>
            <iframe  height="400" ng-src="{{video.link}}" id = "{{'video'+video.id_video}}"   style= "width:65vw;border-width:10px;position:absolute;top: {{video.pos_top +'px'}};"   frameborder="0" allowfullscreen></iframe>
        </div>
        <div  ng-repeat="img in imagenes" id = "{{'imagen'+img.id_imagen}}"  style="left: 73vw;position:absolute;top: {{img.pos_top+'px'}}" >
            <img  style="width: 500px;height: 300px"  src="{{img.link}}" >
        </div>
        <div ng-repeat="titulo in titulos"   style= "margin-left: 72vw;"    >
            <div  style="top:{{titulo.pos_top + 'px'}};width: 23vw;position:absolute;"  class="form-control">
                {{titulo.texto}}
            </div>
        </div>
        <br>
        <div   ng-repeat="informacion in informaciones"   style= "margin-left: 72vw;">
            <div    style="top:{{informacion.pos_top + 'px'}};position:absolute;width: 23vw;height: 315px"   class="form-control">
              {{informacion.texto}}
            </div>
        </div>
        <div   ng-repeat="ejercicio in ejercicios"   style= "margin-left: 40px;">
            <div   ng-controller="CollapseDemoCtrl" class="form-group" style="position: absolute;top:{{ejercicio.pos_top + 'px'}}" id = "{{'ejercicio'+ejercicio.id_ejercicio}}">
                <textarea placeholder="Enunciado Ejercicio" class="form-control"  id = "{{'ejercicio_enunciado'+ejercicio.id_ejercicio}}"  style="position:absolute;width:65vw;"  rows="5">{{ejercicio.enunciado}}</textarea>
                <span  ng-click="isCollapsed=!isCollapsed"   class = "glyphicon glyphicon-menu-down" style="position:absolute;left: 32.5vw;margin-top: 90px" ></span>
                <textarea placeholder="Respuesta Ejercicio" uib-collapse="isCollapsed" class="form-control" id = "{{'ejercicio_respuesta'+ejercicio.id_ejercicio}}"  style="margin-top:130px;width:65vw;"  rows="15">{{ejercicio.respuesta}}</textarea>
            </div>
        </div>
        <%}%>
    </div>

    <%}%>
</body>
</html>
